@{
    ViewData["Title"] = "Sponsors";

}
@model SponsorListObject

<div class="row m-0">
    <h3>Dankuwel, sponsors!</h3>
    <div>
        Hier vind je <b>een overzicht van de @Model.NumberOfSponsors sponsors</b> die ons steunden om op de quiz (22 februari 2020) een mooie prijzentafel samen te stellen. Je kan doorklikken naar hun website door op het juiste logo te klikken. De Krisnaldo's danken alle @Model.NumberOfSponsors sponsors, want dankzij jullie gaat geen enkele deelnemer met lege handen naar huis.
    </div>
    <hr />
</div>

<div class="row m-0">
    <div class="card-columns">

        @foreach (Sponsor lovSponsor in Model.Sponsors)
        {
        <div class="card border-0 m-1 p-1">
            <a href="@lovSponsor.Link" title="@lovSponsor.DisplayName"><img src="@lovSponsor.UltimateSource" style="width:100%;display:block;"></a>
        </div>
        }
    </div>
</div>